.Logo {
  text-align: center;
}

.Paragraph_120{
  font-size: 110%;
}


.buttonRegistrarVentas{
  margin-left: 1rem; 
  font-size: 40%;

}
.styleTable{
  font-size: 40%;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 13rem;
  margin-left: 60rem; 

}

.table-scroll {
  /* height:700px; */
  overflow:auto;  

}

.divPrinciplaRV{
  width: 101rem;
  left: -15rem;
  top:1rem;


}
.inputSO{
  max-width: 141px; 
  left: 1.7rem; 
  top:1rem
}

.inputClient{
  left: 2rem; 
  top:1rem
}
